*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    justify-content: center;
    background-color:#04b5ff;    
    /* background-color:rgb(0 237 255 / 57%);     */
}
.head{
    width: 100vw;
    height: 10vh;
    text-align: center;
    padding: 20px;
    margin-top: 160px;

}
.box{
    width: 400px;
    height: 370px;
    margin: 0px 566px;
    border: 2px dashed white;
    /* border-radius: 20px; */
    text-align: center;
    background-color:#041f3b;
}
p{
    width: 380px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;    
}
.box1{
    display: flex;
    justify-content: space-around;
    line-height: 45px;
}
.box2{
    padding-left: 30px;
}
#from,#to,#num{
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
}
label{
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    color: white;
}
div #result{
    margin-top: 2px;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid white;
    font-size: 22px;
    overflow:hidden;
    text-align: left;
    justify-content: center;
    background-color: white;
}
#con,#res{
    width: 90px;
    height: 40px;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    /* border-radius: 8px; */
}
.credit p{
    font-size: 18px;
    text-align: right;

}
